#compiled files
*.class

#IDE specific folders
.settings/*

#IDE specific files
.classpath
.project

#folders
bin/*
/bin/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
source_code.iml